.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slideheight{
    height: 100vh !important;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(57, 53, 53, 0.5)), url('https://i.ibb.co/cChm7k8/pexels-jessbaileydesign-762686.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
  }
  
  .slide2{
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(57, 53, 53, 0.5)), url('https://i.ibb.co/zfFkmbV/pexels-stasknop-3760323.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
  }
  .slide3{
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(57, 53, 53, 0.5)), url('https://i.ibb.co/TYrhTf1/pexels-fotios-photos-1472841.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
  }
  .sslideInm{
    width: 250px !important;
  }
  .swiper-slide img{
    width: 100%;
  }

  .countryElement .genreName {
    opacity: 0; /* Initially hide the element */
    transition: opacity 0.3s ease; /* Add transition for opacity property */
  }
  
  .countryElement:hover .genreName {
    opacity: 1; /* Show the element on hover */
  }
  
  .countryElement:hover {
    backdrop-filter: brightness(0.4) !important; 
  }

  .staT{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='720' preserveAspectRatio='none' viewBox='0 0 1440 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='720' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M973.85 318.56L1033.92 318.56L1033.92 370.28L973.85 370.28z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M700.48 354.18a68.65 68.65 0 1 0-81.44 110.53z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M528.67 428.83 a8.73 8.73 0 1 0 17.46 0 a8.73 8.73 0 1 0 -17.46 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M739.34 432.97L743.61 432.97L743.61 437.24L739.34 437.24z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M799.83 659.18a62.45 62.45 0 1 0-29.76-121.31z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1056.23 293.11L1084.86 293.11L1084.86 321.74L1056.23 321.74z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1253.91 111.5L1314.98 111.5L1314.98 155.72L1253.91 155.72z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1409.39 430.7L1444.39 430.7L1444.39 496.12L1409.39 496.12z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M500.44 15.8L567.04 15.8L567.04 82.4L500.44 82.4z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M554.83 466.19 a16.77 16.77 0 1 0 33.54 0 a16.77 16.77 0 1 0 -33.54 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1007.87 9.2L1060.73 9.2L1060.73 62.06L1007.87 62.06z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M338.35 349.25a46.95 46.95 0 1 0-48.47-80.42z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M864.33 277.72L902.58 277.72L902.58 337.76L864.33 337.76z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M932.54 267.95L987.98 267.95L987.98 293.01L932.54 293.01z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M634.74 545.43 a27.8 27.8 0 1 0 55.6 0 a27.8 27.8 0 1 0 -55.6 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M850.37 447.92L915.04 447.92L915.04 512.59L850.37 512.59z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M495.03 356.07a22.76 22.76 0 1 0-4.63-45.29z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M13.05 342.65 a10.17 10.17 0 1 0 20.34 0 a10.17 10.17 0 1 0 -20.34 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M171.38 528.96 a26.55 26.55 0 1 0 53.1 0 a26.55 26.55 0 1 0 -53.1 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M179.72 309.16 a56.36 56.36 0 1 0 112.72 0 a56.36 56.36 0 1 0 -112.72 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1315.7 4.57a5.27 5.27 0 1 0-5.42-9.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M301.98 623a40.26 40.26 0 1 0-28.01-75.49z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1001.04 205.44L1032.16 205.44L1032.16 231.79L1001.04 231.79z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M169.63 53.27 a30.45 30.45 0 1 0 60.9 0 a30.45 30.45 0 1 0 -60.9 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M715.76 408L738.85 408L738.85 424.11L715.76 424.11z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  @media (max-width: 576px) { 
    .slideheight{
      height: 50vh !important;
      display: flex;
      align-items: center;
    }
    .slideheight p{
      font-size: 12px !important;
    }
    
  }
  @media (min-width: 768px) {
    
    .slideheight{
      height: 50vh  ;
      display: flex !important;
      align-items: center;
    }
  
  }