.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slideheight{
    height: 100vh !important;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(57, 53, 53, 0.5)), url('https://i.ibb.co/cChm7k8/pexels-jessbaileydesign-762686.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
  }
  
  .slide2{
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(57, 53, 53, 0.5)), url('https://i.ibb.co/zfFkmbV/pexels-stasknop-3760323.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
  }
  .slide3{
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(57, 53, 53, 0.5)), url('https://i.ibb.co/TYrhTf1/pexels-fotios-photos-1472841.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
  }
  .sslideInm{
    width: 250px !important;
  }
  .swiper-slide img{
    width: 100%;
  }

  .countryElement .genreName {
    opacity: 0; /* Initially hide the element */
    transition: opacity 0.3s ease; /* Add transition for opacity property */
  }
  
  .countryElement:hover .genreName {
    opacity: 1; /* Show the element on hover */
  }
  
  .countryElement:hover {
    backdrop-filter: brightness(0.4) !important; 
  }
  @media (max-width: 576px) { 
    .slideheight{
      height: 50vh !important;
      display: flex;
      align-items: center;
    }
    .slideheight p{
      font-size: 12px !important;
    }
    
  }
  @media (min-width: 768px) {
    
    .slideheight{
      height: 50vh  ;
      display: flex !important;
      align-items: center;
    }
  
  }