.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
    background-color: darkblue !important;
    color: yellow;
    border-radius: 0px;
}
.menu li{
    font-weight:600;
    margin:0 4px ;
    
}