.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
    background-color: darkblue !important;
    color: yellow;
    border-radius: 0px;
}
.menu li{
    font-weight:600;
    margin:0 4px ;
    
}
.dropdown-content {
    position: absolute; /* Position dropdown menu relative to its parent */
    z-index: 99999; /* Ensure dropdown menu stays above other elements */
    top: 100%; /* Position dropdown menu below its parent */
    left: 0; /* Align dropdown menu with its parent */
  }
  